<div class="row">
  <div class="col-md-9">
    <div class="jumbotron">
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="jumbotron">
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
  </div>
</div>

<div class="row">
  <% @categories.order(id: :desc).limit(4).each do |category| %>
    <div class="col-md-3">
      <div class="jumbotron">
        <h4 class="display-6"><%= link_to category.category, category_articles_path(:cat => category.id) %> 
      </div>
    </div>
  <% end %>
</div>