<div class= "row center-content">
  <div class="mx-auto go-half">
    <div class="col-md-12">
      <h1>Create New Article</h1>
      <%= render 'form', article: @article %>
    </div>
  </div>
</div>