<div class= "row center-content">
  <div class="mx-auto go-half">
    <div class="col-md-12">
      <h1>Editing Category</h1>
        <%= render 'form', category: @category %> <br>

        <%= link_to 'Show', @category %> |
        <%= link_to 'Back', categories_path %>
    </div>
  </div>
</div>