<div class="row">
  <% @categories.order(id: :desc).each do |category| %>
    <div class="col-md-3">
      <div class="jumbotron">
        <h4 class="display-6"><%= link_to category.category, category_articles_path(:cat => category.id) %> </h4>
        <p><strong>Priority:</strong> <%= category.priority %></p>
        <%= link_to 'Delete', category, :method => :delete, :confirm => "Are you sure?" %>
      </div>
    </div>
  <% end %>
</div> 