<div class= "row center-content">
  <div class="mx-auto go-half">
    <div class="col-md-12">
      <h1>Create New Category</h1>
        <%= render 'form', category: @category %>
    </div>
  </div>
</div>