<div class="col-md-12">
<%= object.votes.count %>

<%= link_to comment_votes_path(object), class: "text-light", method: :post do %>
  <% if voted?(subject = object, type = 'comment') %>
      <button class="btn btn-voted size-12"><i class="fa fa-thumbs-up"></i></button>
    <% else %>
      <button class="btn btn-neutral size-12"><i class="fa fa-thumbs-up"></i></button>
  <% end %>
<% end %>
Votes
</span>